<%= form_for @utente, :html => { :class => "form-horizontal utente" } do |f| %>

  <% if @utente.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@utente.errors.count, "error") %> prohibited this utente from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @utente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_name, 'Identificativo', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_name) %>
  </div>
  <div class="form-group">
    <%= f.label :password_digest, 'Password', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.password_field :password_digest, :class => 'form-control' %>
    </div>
    <%=f.error_span(:password_digest) %>
  </div>
  <div class="form-group">
    <%= label_tag :password_check, 'Ripeti password', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= password_field_tag :password_check, nil, :class => 'form-control' %>
    </div>
    <%=f.error_span(:password_check) %>
  </div>
  <div class="form-group">
    <%= f.label :name, 'Nome e cognome', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :attivo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :attivo %>
    </div>
    <%=f.error_span(:attivo) %>
  </div>
  <div class="form-group">
    <%= f.label :amministratore, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :amministratore %>
    </div>
    <%=f.error_span(:amministratore) %>
  </div>
  <div class="form-group">
    <%= f.label :note, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :note, :class => 'form-control' %>
    </div>
    <%=f.error_span(:note) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                utenti_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
