<%- model_class = Utente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_name) %></th>
      <th><%= model_class.human_attribute_name(:password_digest) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:attivo) %></th>
      <th><%= model_class.human_attribute_name(:amministratore) %></th>
      <th><%= model_class.human_attribute_name(:note) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @utenti.each do |utente| %>
      <tr>
        <td><%= link_to utente.id, utente_path(utente) %></td>
        <td><%= utente.user_name %></td>
        <td><%= utente.password_digest %></td>
        <td><%= utente.name %></td>
        <td><%= utente.attivo %></td>
        <td><%= utente.amministratore %></td>
        <td><%= utente.note %></td>
        <td><%=l utente.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      utente_path(utente), :class => 'btn btn-default btn-xs' %>
          <%= link_to raw("#{content_tag('i', '', :class => 'fa fa-edit')} #{t('.edit', :default => t("helpers.links.edit"))}"),
                      edit_utente_path(utente), :class => 'btn btn-default btn-xs' %>
          <%= link_to raw("#{content_tag('i', '', :class => 'fa fa-trash')} #{t('.destroy', :default => t("helpers.links.destroy"))}"),
                      utente_path(utente),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_utente_path,
            :class => 'btn btn-primary' %>
