<%- model_class = Utente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_name) %>:</strong></dt>
  <dd><%= @utente.user_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:password_digest) %>:</strong></dt>
  <dd><%= @utente.password_digest %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @utente.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attivo) %>:</strong></dt>
  <dd><%= @utente.attivo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amministratore) %>:</strong></dt>
  <dd><%= @utente.amministratore %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @utente.note %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              utenti_path, :class => 'btn btn-default'  %>
<%= link_to raw("#{content_tag('i', '', :class => 'fa fa-edit')} #{t('.edit', :default => t("helpers.links.edit"))}"),
              edit_utente_path(@utente), :class => 'btn btn-default' %>
<%= link_to raw("#{content_tag('i', '', :class => 'fa fa-trash')} #{t('.destroy', :default => t("helpers.links.destroy"))}"),
              utente_path(@utente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
