<%= form_with(model: tessera, local: true) do |form| %>
  <% if tessera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tessera.errors.count, "error") %> prohibited this tessera from being saved:</h2>

      <ul>
      <% tessera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, id: :tessera_id %>
  </div>

  <div class="field">
    <%= form.label :tiporichiesta_id %>
    <%= form.text_field :tiporichiesta_id, id: :tessera_tiporichiesta_id %>
  </div>

  <div class="field">
    <%= form.label :anagrafico_id %>
    <%= form.text_field :anagrafico_id, id: :tessera_anagrafico_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_tessera_id %>
    <%= form.text_field :tipo_tessera_id, id: :tessera_tipo_tessera_id %>
  </div>

  <div class="field">
    <%= form.label :intestatario_id %>
    <%= form.text_field :intestatario_id, id: :tessera_intestatario_id %>
  </div>

  <div class="field">
    <%= form.label :qualifica_id %>
    <%= form.text_field :qualifica_id, id: :tessera_qualifica_id %>
  </div>

  <div class="field">
    <%= form.label :statura %>
    <%= form.text_field :statura, id: :tessera_statura %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string, id: :tessera_string %>
  </div>

  <div class="field">
    <%= form.label :capelli %>
    <%= form.text_field :capelli, id: :tessera_capelli %>
  </div>

  <div class="field">
    <%= form.label :occhi %>
    <%= form.text_field :occhi, id: :tessera_occhi %>
  </div>

  <div class="field">
    <%= form.label :segni_particolari %>
    <%= form.text_field :segni_particolari, id: :tessera_segni_particolari %>
  </div>

  <div class="field">
    <%= form.label :residenza_id %>
    <%= form.text_field :residenza_id, id: :tessera_residenza_id %>
  </div>

  <div class="field">
    <%= form.label :indirizzo %>
    <%= form.text_field :indirizzo, id: :tessera_indirizzo %>
  </div>

  <div class="field">
    <%= form.label :statocivile_id %>
    <%= form.text_field :statocivile_id, id: :tessera_statocivile_id %>
  </div>

  <div class="field">
    <%= form.label :numero_tessera %>
    <%= form.text_field :numero_tessera, id: :tessera_numero_tessera %>
  </div>

  <div class="field">
    <%= form.label :integer %>
    <%= form.text_field :integer, id: :tessera_integer %>
  </div>

  <div class="field">
    <%= form.label :data_rilascio %>
    <%= form.date_select :data_rilascio, id: :tessera_data_rilascio %>
  </div>

  <div class="field">
    <%= form.label :data_convalida %>
    <%= form.date_select :data_convalida, id: :tessera_data_convalida %>
  </div>

  <div class="field">
    <%= form.label :variazioni_uno %>
    <%= form.text_area :variazioni_uno, id: :tessera_variazioni_uno %>
  </div>

  <div class="field">
    <%= form.label :variazioni_due %>
    <%= form.text_area :variazioni_due, id: :tessera_variazioni_due %>
  </div>

  <div class="field">
    <%= form.label :variazioni_tre %>
    <%= form.text_area :variazioni_tre, id: :tessera_variazioni_tre %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, id: :tessera_note %>
  </div>

  <div class="field">
    <%= form.label :annullata %>
    <%= form.check_box :annullata, id: :tessera_annullata %>
  </div>

  <div class="field">
    <%= form.label :stampata %>
    <%= form.check_box :stampata, id: :tessera_stampata %>
  </div>

  <div class="field">
    <%= form.label :utente_id %>
    <%= form.text_field :utente_id, id: :tessera_utente_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
