<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tessera.id %>
</p>

<p>
  <strong>Tiporichiesta:</strong>
  <%= @tessera.tiporichiesta %>
</p>

<p>
  <strong>Anagrafico:</strong>
  <%= @tessera.anagrafico %>
</p>

<p>
  <strong>Tipo tessera:</strong>
  <%= @tessera.tipo_tessera %>
</p>

<p>
  <strong>Intestatario:</strong>
  <%= @tessera.intestatario %>
</p>

<p>
  <strong>Qualifica:</strong>
  <%= @tessera.qualifica %>
</p>

<p>
  <strong>Statura:</strong>
  <%= @tessera.statura %>
</p>

<p>
  <strong>String:</strong>
  <%= @tessera.string %>
</p>

<p>
  <strong>Capelli:</strong>
  <%= @tessera.capelli %>
</p>

<p>
  <strong>Occhi:</strong>
  <%= @tessera.occhi %>
</p>

<p>
  <strong>Segni particolari:</strong>
  <%= @tessera.segni_particolari %>
</p>

<p>
  <strong>Residenza:</strong>
  <%= @tessera.residenza %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @tessera.indirizzo %>
</p>

<p>
  <strong>Statocivile:</strong>
  <%= @tessera.statocivile %>
</p>

<p>
  <strong>Numero tessera:</strong>
  <%= @tessera.numero_tessera %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @tessera.integer %>
</p>

<p>
  <strong>Data rilascio:</strong>
  <%= @tessera.data_rilascio %>
</p>

<p>
  <strong>Data convalida:</strong>
  <%= @tessera.data_convalida %>
</p>

<p>
  <strong>Variazioni uno:</strong>
  <%= @tessera.variazioni_uno %>
</p>

<p>
  <strong>Variazioni due:</strong>
  <%= @tessera.variazioni_due %>
</p>

<p>
  <strong>Variazioni tre:</strong>
  <%= @tessera.variazioni_tre %>
</p>

<p>
  <strong>Note:</strong>
  <%= @tessera.note %>
</p>

<p>
  <strong>Annullata:</strong>
  <%= @tessera.annullata %>
</p>

<p>
  <strong>Stampata:</strong>
  <%= @tessera.stampata %>
</p>

<p>
  <strong>Utente:</strong>
  <%= @tessera.utente %>
</p>

<%= link_to 'Edit', edit_tessera_path(@tessera) %> |
<%= link_to 'Back', tessere_path %>
