<%- model_class = Comune -%>
<p id="notice"><%= notice %></p>
<h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
<div style="padding-top:0px;padding-bottom:3px;">
  <%= form_tag url_for(:action => :index, :controller => :comuni), :method => 'get' do %>
    <div class="input-group" style = "width: 75%">
      <%= text_field_tag :cerca, params[:cerca], {:class => 'form-control', :placeholder => 'inserisci il nome da ricercare, anche parziale'} %>
        <span class="input-group-btn">
          <%= submit_tag "Cerca", :class=> 'btn btn-primary' %>
        </span>
    </div>
  <% end %>
</div>
<p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2"><%= model_class.human_attribute_name(:comune) %></th>
      <th><%= model_class.human_attribute_name(:codice) %></th>
      <th><%= model_class.human_attribute_name(:cap) %></th>
      <th><%= model_class.human_attribute_name(:provincia) %></th>
      <th><%= model_class.human_attribute_name(:istat) %></th>
      <th>Capoluogo</th>
      <th colspan="2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @comuni.each do |comune| %>
      <tr>
        <td><%= link_to raw('<i class="fa fa-bullseye fa-2x"></i>'), comune, :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to comune.comune, comune %></td>
        <td><%= comune.codice %></td>
        <td><%= comune.cap %></td>
        <td><%= comune.provincia %></td>
        <td><%= comune.istat %></td>
        <td><%= comune.capoluogo %></td>
        <td>
          <%= link_to raw("#{content_tag('i', '', :class => 'fa fa-edit')} #{t('.edit', :default => t("helpers.links.edit"))}"),
                      edit_comune_path(comune), :class => 'btn btn-default btn-xs' %>
        </td>
        <td>
          <%= link_to raw("#{content_tag('i', '', :class => 'fa fa-trash')} #{t('.destroy', :default => t("helpers.links.destroy"))}"),
                      comune_path(comune),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_comune_path,
            :class => 'btn btn-primary' %>
