<%- model_class = Tessera -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:tiporichiesta_id) %>:</strong></dt>
  <dd><%= @tessera.tiporichiesta_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:anagrafico_id) %>:</strong></dt>
  <dd><%= @tessera.anagrafico_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_tessera_id) %>:</strong></dt>
  <dd><%= @tessera.tipo_tessera_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:intestatario_id) %>:</strong></dt>
  <dd><%= @tessera.intestatario_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:qualifica_id) %>:</strong></dt>
  <dd><%= @tessera.qualifica_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:statura) %>:</strong></dt>
  <dd><%= @tessera.statura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:string) %>:</strong></dt>
  <dd><%= @tessera.string %></dd>
  <dt><strong><%= model_class.human_attribute_name(:capelli) %>:</strong></dt>
  <dd><%= @tessera.capelli %></dd>
  <dt><strong><%= model_class.human_attribute_name(:occhi) %>:</strong></dt>
  <dd><%= @tessera.occhi %></dd>
  <dt><strong><%= model_class.human_attribute_name(:segni_particolari) %>:</strong></dt>
  <dd><%= @tessera.segni_particolari %></dd>
  <dt><strong><%= model_class.human_attribute_name(:residenza_id) %>:</strong></dt>
  <dd><%= @tessera.residenza_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:indirizzo) %>:</strong></dt>
  <dd><%= @tessera.indirizzo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:statocivile_id) %>:</strong></dt>
  <dd><%= @tessera.statocivile_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:numero_tessera) %>:</strong></dt>
  <dd><%= @tessera.numero_tessera %></dd>
  <dt><strong><%= model_class.human_attribute_name(:integer) %>:</strong></dt>
  <dd><%= @tessera.integer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_rilascio) %>:</strong></dt>
  <dd><%= @tessera.data_rilascio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_convalida) %>:</strong></dt>
  <dd><%= @tessera.data_convalida %></dd>
  <dt><strong><%= model_class.human_attribute_name(:variazioni_uno) %>:</strong></dt>
  <dd><%= @tessera.variazioni_uno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:variazioni_due) %>:</strong></dt>
  <dd><%= @tessera.variazioni_due %></dd>
  <dt><strong><%= model_class.human_attribute_name(:variazioni_tre) %>:</strong></dt>
  <dd><%= @tessera.variazioni_tre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @tessera.note %></dd>
  <dt><strong><%= model_class.human_attribute_name(:annullata) %>:</strong></dt>
  <dd><%= @tessera.annullata %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stampata) %>:</strong></dt>
  <dd><%= @tessera.stampata %></dd>
  <dt><strong><%= model_class.human_attribute_name(:utente_id) %>:</strong></dt>
  <dd><%= @tessera.utente_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              tessere_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tessera_path(@tessera), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tessera_path(@tessera),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
