<%- model_class = Anagrafica -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:cognome) %></th>
      <th><%= model_class.human_attribute_name(:sesso_id) %></th>
      <th><%= model_class.human_attribute_name(:luogonascita_id) %></th>
      <th><%= model_class.human_attribute_name(:datanascita) %></th>
      <th><%= model_class.human_attribute_name(:parente_id) %></th>
      <th><%= model_class.human_attribute_name(:parentela_id) %></th>
      <th><%= model_class.human_attribute_name(:recapiti) %></th>
      <th><%= model_class.human_attribute_name(:note) %></th>
      <th><%= model_class.human_attribute_name(:utente_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @anagrafiche.each do |anagrafica| %>
      <tr>
        <td><%= link_to anagrafica.id, anagrafica_path(anagrafica) %></td>
        <td><%= anagrafica.nome %></td>
        <td><%= anagrafica.cognome %></td>
        <td><%= anagrafica.sesso_id %></td>
        <td><%= anagrafica.luogonascita_id %></td>
        <td><%= anagrafica.datanascita %></td>
        <td><%= anagrafica.parente_id %></td>
        <td><%= anagrafica.parentela_id %></td>
        <td><%= anagrafica.recapiti %></td>
        <td><%= anagrafica.note %></td>
        <td><%= anagrafica.utente_id %></td>
        <td><%=l anagrafica.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      anagrafica_path(anagrafica), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_anagrafica_path(anagrafica), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      anagrafica_path(anagrafica),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_anagrafica_path,
            :class => 'btn btn-primary' %>
