<p id="notice"><%= notice %></p>

<h1>Anagrafiche</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Sesso</th>
      <th>Luogonascita</th>
      <th>Datanascita</th>
      <th>Parente</th>
      <th>Parentela</th>
      <th>Recapiti</th>
      <th>Note</th>
      <th>Utente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anagrafiche.each do |anagrafica| %>
      <tr>
        <td><%= anagrafica.id %></td>
        <td><%= anagrafica.nome %></td>
        <td><%= anagrafica.cognome %></td>
        <td><%= anagrafica.sesso.sesso %></td>
        <td><%= anagrafica.comune.comune %></td>
        <td><%= anagrafica.datanascita %></td>
        <td><%# anagrafica.parente %></td>
        <td><%= anagrafica.parentela&.parentela %></td>
        <td><%= anagrafica.recapiti %></td>
        <td><%= anagrafica.note %></td>
        <td><%= anagrafica.utente %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      anagrafica, :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_anagrafica_path(anagrafica), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      anagrafica,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<<%= link_to t('.new', :default => t("helpers.links.new")), new_anagrafica_path, :class => 'btn btn-primary' %>
<br>
