<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @anagrafica.id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @anagrafica.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @anagrafica.cognome %>
</p>

<p>
  <strong>Sesso:</strong>
  <%= @anagrafica.sesso %>
</p>

<p>
  <strong>Luogonascita:</strong>
  <%= @anagrafica.luogonascita %>
</p>

<p>
  <strong>Datanascita:</strong>
  <%= @anagrafica.datanascita %>
</p>

<p>
  <strong>Parente:</strong>
  <%= @anagrafica.parente %>
</p>

<p>
  <strong>Parentela:</strong>
  <%= @anagrafica.parentela %>
</p>

<p>
  <strong>Recapiti:</strong>
  <%= @anagrafica.recapiti %>
</p>

<p>
  <strong>Note:</strong>
  <%= @anagrafica.note %>
</p>

<p>
  <strong>Utente:</strong>
  <%= @anagrafica.utente %>
</p>

<%= link_to 'Edit', edit_anagrafica_path(@anagrafica) %> |
<%= link_to 'Back', anagrafiche_path %>
