<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "RiTMo" %></title>
    <%= csrf_meta_tags %>

    <% # al posto di quello che segue se non dovesse funzionare. %>
    <% # render 'application/favicon' %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <% # favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%# favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%# favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript plugins -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <%= link_to image_tag('logo_vanvitelli.png', :alt => 'Università degli Studi della Campania Luigi Vanvitelli', :title => 'Università degli studi della Campania Luigi Vanvitelli'), '/index.html', :title => 'Ritorna al portale' %>
        Rilascio Tessere Ministeriali <sub><span class="version">v<%= MYAPP_VERSION %></span></sub>
    </header>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">RiTMo</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Anagrafiche<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to raw('<i class="fa fa-user"></i> Anagrafica</a>'), anagrafiche_path %></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-bullseye"></i> Comuni</a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to raw('<i class="fa fa-user-secret"></i> Utenti</a>'), utenti_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tessere<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to raw('<i class="fa fa-id-card-o"></i> Emetti'), tessere_path %></li>
                <li><%= link_to raw('<i class="fa fa-print"></i> Ristampa'), '#' %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to raw('<i class="fa fa-list-alt"></i> Elenco emissioni'), '#' %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
<!--
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Sidebar</h3>
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to "Link1", "/path1"  %></li>
              <li><%= link_to "Link2", "/path2"  %></li>
              <li><%= link_to "Link3", "/path3"  %></li>
            </ul>
          </div>
        </div>
-->
      </div><!--/row-->
    </div> <!-- /container -->

    <footer>
      <div class="row">
        <div class="col-sm-4 col-md-4 small">
          <p style="text-transform: uppercase">Universit&agrave; degli Studi della Campania<br/>Luigi Vanvitelli</p>
          <p>Viale Abramo Lincoln n. 5<br/>81100 Caserta<br/>P.IVA: 02044190615</p>
          <p><a href="mailto:protocollo@pec.unina2.it">protocollo@pec.unicampania.it</a></p>
        </div>
        <div class="col-sm-4 col-md-4 hidden-xs small with-bar">
          <p></p><p></p>
          <p>Progetto e sviluppo a cura dell'Ufficio Gestione del Personale Tecnico-Amministrativo<br/>Tutti i diritti riservati</p>
          <p></p><p></p>
        </div>
        <div class="col-sm-4 col-md-4 hidden-sm hidden-xs small">
          <p></p><p></p><p>Per qualsiasi problema, malfunzionamento o segnalazione inviare una mail a <a href="mailto:ugpta@unicampania.it?subject=PortaleUGPTA">ugpta@unicampania.it</a></p>
          <p></p><p></p>
        </div>
      </div>
    </footer>

  </body>
</html>
